<h1 class="title-page-under-toolbar">{{ organization?.data?.name }}</h1>
<h2 class="subtitle-page-under-toolbar">{{ organization?.data?.description }}</h2>
<mat-card class="organizationTable">
  <mat-list>
    <app-map></app-map>
    <mat-list-item class="fieldName">LDAP Configuration:</mat-list-item>
    <mat-list-item class="fieldData">
      {{ organization?.data?.ldapConfiguration?.username }}@{{ organization?.data?.ldapConfiguration?.host }},
      {{ organization?.data?.ldapConfiguration?.password }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Owner:</mat-list-item>
    <mat-list-item class="fieldData">John Smith</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Manager:</mat-list-item>
    <mat-list-item class="fieldData">Mario Rossi</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Viewer:</mat-list-item>
    <mat-list-item class="fieldData">PippoPluto</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Creation date:</mat-list-item>
    <mat-list-item class="fieldData">{{ organization?.data?.createdDate }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Last modified date:</mat-list-item>
    <mat-list-item class="fieldData">{{ organization?.data?.lastModifiedDate }}</mat-list-item>
  </mat-list>
  <mat-card-actions>
    <button
      mat-raised-button
      color="accent"
      matTooltip="Edit this organization's data"
      matTooltipPosition="right"
      routerLink="/organization/{{ organization?.id }}/edit"
    >
      Edit
    </button>
  </mat-card-actions>
</mat-card>
