.mat-card.organizationTable {
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  width: 65%;
}

.mat-card-title {
  padding: 10px 0;
}

.mat-list-item.fieldName,
.mat-list-item.fieldData {
  display: inline-block;
}

.mat-list-item.fieldName {
  font-weight: 500;
  justify-content: flex-end;
  width: 35%;
}

.mat-list-item.fieldData {
  font-weight: 300;
  width: 65%;
}

::ng-deep .mat-list-item-content {
  justify-content: flex-end;
}

.mat-list-item ul {
  padding: 0;

  li {
    list-style: none;
  }
}

@media only screen and (max-width: 896px) {
  .mat-card.organizationTable {
    width: 100%;
  }
}
