.mat-list-item.fieldName,
.mat-list-item.fieldData {
  display: inline-block;
}

.mat-list-item.fieldName {
  font-weight: 500;
  width: 35%;
}

.mat-list-item.fieldData {
  font-weight: 300;
  width: 65%;
}

::ng-deep .mat-list-item.fieldName .mat-list-item-content {
  justify-content: flex-end;
}

button {
  width: auto !important;
}
