<h1 class="title-page-under-toolbar">{{ organization?.data?.name }}</h1>
<h2 class="subtitle-page-under-toolbar">{{ organization?.data?.description }}</h2>
<mat-card class="organizationTable">
  <app-map></app-map>
</mat-card>
<div class="organizationData">
  <h1>Organization data</h1>
  <button class="goToReport" mat-button routerLink="/organization/{{ organization?.id }}/report">
    Go to report&nbsp;
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <mat-card>
    <div *ngIf="organization?.data?.ldapConfiguration?.url">
      <mat-card-content>
        <div class="inlineLeft">
          <mat-card-title>LDAP Configuration</mat-card-title>
          <mat-card-subtitle>Access data to the LDAP server</mat-card-subtitle>
        </div>
        <div class="inlineRight">
          <span>url: </span>{{ organization?.data?.ldapConfiguration?.url }} &bull; <span>password: </span
          >{{ organization?.data?.ldapConfiguration?.bindPassword }}
          <br />
          <span>bindDn: </span>{{ organization?.data?.ldapConfiguration?.bindRdn }},{{
            organization?.data?.ldapConfiguration?.baseDn
          }}
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
    </div>
    <mat-card-content>
      <div class="inlineLeft" [style.vertical-align]="administrators.length > 1 ? 'top' : 'middle'">
        <mat-card-title>Roles</mat-card-title>
        <mat-card-subtitle>List of users with a role in this organization</mat-card-subtitle>
      </div>
      <div class="inlineRight">
        <div *ngFor="let a of administrators">
          <p class="linearLayoutP">{{ a.email }}</p>
          <mat-icon
            class="linearLayoutIcon"
            [matTooltip]="a.role != 'Viewer' ? (a.role != 'Manager' ? 'Owner' : 'Manager') : 'Viewer'"
            matTooltipPosition="right"
          >
            {{ a.role != 'Viewer' ? (a.role != 'Manager' ? 'event_seat' : 'build') : 'visibility' }}
          </mat-icon>
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="inlineLeft">
        <mat-card-title>Creation date</mat-card-title>
        <mat-card-subtitle>This organization was created on this date</mat-card-subtitle>
      </div>
      <div class="inlineRight">{{ date.toLocaleString() }}</div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions *ngIf="userLevel >= 2">
      <button
        mat-raised-button
        color="accent"
        matTooltip="Edit this organization's data"
        matTooltipPosition="left"
        routerLink="/organization/{{ organization?.id }}/edit"
      >
        Edit
      </button>
      &nbsp; or
      <button
        class="buttonDelete"
        mat-raised-button
        matTooltip="Delete this organization"
        matTooltipPosition="right"
        (click)="deleteOrganizationById(organization?.id)"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
