<form [formGroup]="formGroup">
  <mat-list>
    <div *ngFor="let admin of administrators" class="adminListContainer">
      <mat-list-item class="adminType">{{ admin.role }}</mat-list-item>
      <mat-list-item class="adminEmail">{{ admin.email }}</mat-list-item>
      <button
        mat-button
        matTooltip="Remove from administrators"
        aria-label="Remove this user from administrators"
        class="adminDelete"
        type="button"
        (click)="deleteAdmin(admin.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  <div class="adminChoiceContainer">
    <mat-form-field class="adminType">
      <mat-label>Administrator type</mat-label>
      <mat-select formControlName="adminRole">
        <mat-option *ngFor="let admin of adminType" [value]="admin">
          {{ admin }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="adminEmail">
      <mat-label>New administrator</mat-label>
      <input
        #adminEmail
        maxlength="100"
        type="email"
        formControlName="adminEmail"
        matInput
        placeholder="address@example.com"
      />
      <mat-hint class="hint-end" align="end">{{ adminEmail.value.length }} / 100</mat-hint>
    </mat-form-field>
    <button
      mat-button
      matTooltip="Add to administrators"
      aria-label="Button to add a new administrator when pressed"
      class="adminConfirm"
      type="button"
      (click)="addAdmin()"
    >
      <mat-icon>done</mat-icon>
    </button>
  </div>
</form>
