<div
  leaflet
  style="height: 400px;"
  leafletDraw
  [leafletOptions]="options"
  [leafletDrawOptions]="drawOptions"
  (leafletDrawCreated)="onDrawCreated($event)"
  [leafletLayers]="polygonLayers"
  [leafletFitBounds]="fitBounds"
></div>
<div class="placeFormContainer">
  <p>Places within the organization</p>
  <div *ngFor="let p of this.organization?.places" class="placeDataContainer">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input #placeName maxlength="50" matInput placeholder="Torre Archimede" value="{{ p.name }}" />
      <mat-hint class="hint-end" align="end">{{ placeName.value.length }} / 50</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input #placeAddress maxlength="50" matInput placeholder="Via Trieste" value="{{ p.placeData.address }}" />
      <mat-hint class="hint-start" align="start">
        No need to specify city, zipcode or state.<br />It will be found automatically
      </mat-hint>
      <mat-hint class="hint-end" align="end">{{ placeAddress.value.length }} / 50</mat-hint>
    </mat-form-field>
    <button
      mat-button
      matTooltip="Remove this place from the organization"
      aria-label="Remove this place from the organization"
      type="button"
      (click)="deletePlace(p.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
