<div
  leaflet
  style="height: 400px;"
  leafletDraw
  [leafletOptions]="options"
  [leafletDrawOptions]="drawOptions"
  (leafletDrawCreated)="onDrawCreated($event)"
  [leafletLayers]="polygonLayers"
  [leafletFitBounds]="bounds"
>
  <div [leafletLayer]="drawnItems"></div>
</div>
<div class="placeFormContainer" *ngIf="this.getRoute().includes('/edit') || this.getRoute().includes('/create')">
  <p class="titleP" *ngIf="this.organizationPlaces.length > 0">Places within the organization</p>
  <div *ngFor="let p of this.organizationPlaces; let i = index" class="placeDataContainer">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        #placeName
        maxlength="75"
        matInput
        placeholder="Torre Archimede"
        value="{{ p.data.name }}"
        (change)="updatePlace(i, placeName.value, placeAddress.value)"
      />
      <mat-hint class="hint-end" align="end">{{ placeName.value.length }} / 75</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input
        #placeAddress
        maxlength="75"
        matInput
        placeholder="Via Trieste"
        value="{{ p.data.placeInfo.address }}"
        (change)="updatePlace(i, placeName.value, placeAddress.value)"
      />
      <mat-hint class="hint-start" align="start">
        It is not necessary to specify city, zipcode or state.
        <br />They will be found automatically
      </mat-hint>
      <mat-hint class="hint-end" align="end">{{ placeAddress.value.length }} / 75</mat-hint>
    </mat-form-field>
    <app-color-picker id="colorPicker{{ i.toString() }}" [color]="p.data.color"></app-color-picker>
    <mat-form-field class="capacity">
      <mat-label>Place capacity</mat-label>
      <input
        #maxConcurrentUsers
        max="1000"
        matInput
        (keyup)="checkNumberValidity(i, maxConcurrentUsers.value)"
        [(ngModel)]="p.data.maxConcurrentUsers"
        type="number"
        min="0"
        (change)="updatePlace(i, placeName.value, placeAddress.value)"
      />
    </mat-form-field>
    <button
      mat-button
      matTooltip="Remove this place from the organization"
      aria-label="Remove this place from the organization"
      type="button"
      (click)="deletePlace(p.id, i)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
