<mat-grid-list cols="3" rowHeight="6:1">
  <mat-grid-tile rowspan="3" colspan="3">
    <h1 class="mat-display-3">Welcome to Stalker</h1>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" colspan="3">
    <p class="mat-body-2">here you can manage your organizations and create new ones if you wish!</p>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3">
    <mat-card>
      <mat-card-title>Your Profile</mat-card-title>
      <button mat-raised-button routerLink="/profile" routerLinkActive="active">Click Here!</button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3">
    <mat-card>
      <mat-card-title>Your organizations</mat-card-title>
      <button mat-raised-button color="primary">Click Here!</button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3">
    <mat-card>
      <mat-card-title>Create a new organization</mat-card-title>
      <button mat-raised-button color="accent">Click Here!</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
