.notFoundContainer {
  color: #fff;
  margin: auto;
  margin-top: -30px;
  position: relative;
  text-align: center;
  width: 600px;

  h1 {
    font-size: 250px;
    text-shadow: 2px 2px #000;
  }

  h2 {
    color: #000;
    font-size: 50px;
    margin-top: 130px;
  }

  button {
    margin-top: 30px;
    width: 80%;
  }
}
