<h1>Easily monitor and protect people within your organizations</h1>
<h2>Login</h2>
<mat-card class="login-form-container">
  <mat-card-content>
    <form
      class="login-form centered-form"
      [formGroup]="nestedForm"
      (ngSubmit)="login(this.nestedForm.value.emailForm.email, this.nestedForm.value.passwordForm.pwd)"
    >
      <app-form-email formControlName="emailForm"></app-form-email>
      <app-form-password formControlName="passwordForm"></app-form-password>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" title="Login to Stalker">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
<div class="text-block" id="anchor">
  <h1>How it works?</h1>
</div>
