<h1>Easily monitor and protect people within your organizations</h1>
<h2>{{ toggle ? 'Login' : 'Password recovery' }}</h2>
<mat-card class="login-form-container" [ngClass]="toggle ? '' : 'lessHeight'">
  <div class="formsContainer" [ngClass]="toggle ? 'translateBack' : 'translate'">
    <mat-card-content class="login">
      <form
        class="login-form centered-form"
        [formGroup]="nestedForm"
        (ngSubmit)="
          userLoggedIn() ? '' : login(this.nestedForm.value.emailForm.email, this.nestedForm.value.passwordForm.pwd)
        "
      >
        <app-form-email formControlName="emailForm"></app-form-email>
        <app-form-password formControlName="passwordForm"></app-form-password>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [matTooltip]="userLoggedIn() ? '' : 'Login to Stalker'"
            matTooltipPosition="right"
            [disabled]="userLoggedIn()"
          >
            {{ userLoggedIn() ? 'Already logged in' : 'Login' }}
          </button>
        </mat-card-actions>
        <button
          mat-button
          matTooltip="Recover your pasword"
          class="recoverButton"
          matTooltipPosition="right"
          (click)="translate(1)"
          type="button"
        >
          Forgot your password?
        </button>
      </form>
    </mat-card-content>
    <mat-card-content class="recover">
      <button
        class="backToLoginButton"
        mat-button
        matTooltip="Back to login"
        matTooltipPosition="right"
        (click)="translate(0)"
        type="button"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <form
        (ngSubmit)="
          userLoggedIn() ? '' : login(this.nestedForm.value.emailForm.email, this.nestedForm.value.passwordForm.pwd)
        "
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. mariorossi@gmail.com" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error>
            Please enter a valid email address
          </mat-error>
          <mat-error> This field is <strong>required</strong> </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            matTooltip="Recover your password"
            matTooltipPosition="right"
            [disabled]="userLoggedIn()"
          >
            {{ userLoggedIn() ? 'Already logged in' : 'Recover' }}
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </div>
</mat-card>
<div class="text-block-container">
  <h1>How it works</h1>
  <div class="how-it-works">
    <mat-card>
      <div class="icon-container"><mat-icon>home</mat-icon></div>
      <mat-card-title>Create</mat-card-title>
      <mat-card-subtitle>Create your organization, add places and administrators</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <div class="icon-container"><mat-icon>group_add</mat-icon></div>
      <mat-card-title>Invite</mat-card-title>
      <mat-card-subtitle>Invite people to join your organization</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <div class="icon-container"><mat-icon>transfer_within_a_station</mat-icon></div>
      <mat-card-title>Monitor</mat-card-title>
      <mat-card-subtitle>
        Monitor people's flow in your organization and generate reports on accesses
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>
