::ng-deep {
  .mat-toolbar {
    background-color: rgba($color: #000, $alpha: 0.3);
    box-shadow: none;
    margin-bottom: 10%;
    padding-bottom: 0;
    position: unset !important;
    z-index: unset !important;
  }
}

h1,
h2 {
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px #000;
  width: 470px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  margin-top: 50px;
}

.lessHeight {
  max-height: 150px;
}

.login-form-container {
  overflow: hidden;
  width: 438px;

  .formsContainer {
    box-sizing: border-box;
    display: flex;
    width: 880px;
  }

  .mat-card-actions {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center !important;
  }

  .login,
  .recover {
    flex-grow: 1;
    min-width: 50%;
  }

  .recover {
    padding: 0 32px;
  }

  .recoverButton {
    float: right;
    margin: 16px 0 -16px;
  }

  .translate {
    transform: translateX(-472px);
    transition: transform 600ms;
  }

  .translateBack {
    transform: translateX(0);
    transition: transform 600ms;
  }

  .backToLoginButton {
    min-width: unset;
    padding: 0;
  }
}

.text-block-container {
  padding-top: 100px;
  width: 100%;

  > * {
    text-shadow: unset;
  }

  h1 {
    color: #000;
    font-weight: 500;
    text-align: center;
    width: 100%;
  }
}

.text-block {
  margin-top: 30px;

  p,
  img {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    max-width: 40%;
  }

  p {
    box-sizing: border-box;
    padding: 0 20px;
    width: 60%;
  }
}

.how-it-works {
  display: flex;
  margin: 100px auto;
  width: 80%;

  .mat-card {
    flex-grow: 1;
    height: 140px;
    margin: 0 10px;
    text-align: center;
    width: 180px;
  }

  .mat-card-title {
    margin-bottom: 20px;
  }

  .mat-icon {
    transform: scale(1.8);
  }

  .icon-container {
    background-color: #4c4c4c;
    border-radius: 35px;
    color: #fff;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    margin: -50px auto 30px;
    width: 70px;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
