<h1>Easily monitor and protect people within your organizations</h1>
<h2>Login</h2>
<mat-card class="login-form-container">
  <mat-card-content>
    <form
      class="login-form centered-form"
      [formGroup]="nestedForm"
      (ngSubmit)="login(this.nestedForm.value.emailForm.email, this.nestedForm.value.passwordForm.pwd)"
    >
      <app-form-email formControlName="emailForm"></app-form-email>
      <app-form-password formControlName="passwordForm"></app-form-password>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" title="Login to Stalker">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
<div class="text-block-container">
  <h1>How it works?</h1>
  <div class="how-it-works">
    <mat-card>
      <div class="icon-container"><mat-icon>home</mat-icon></div>
      <mat-card-title>Create</mat-card-title>
      <mat-card-subtitle>Create your organization, add places and administrators</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <div class="icon-container"><mat-icon>group_add</mat-icon></div>
      <mat-card-title>Invite</mat-card-title>
      <mat-card-subtitle>Invite people to join your organization</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <div class="icon-container"><mat-icon>transfer_within_a_station</mat-icon></div>
      <mat-card-title>Monitor</mat-card-title>
      <mat-card-subtitle
        >Monitor access to your organization and generate report about people accesses</mat-card-subtitle
      >
    </mat-card>
  </div>
  <!-- boh non so ancora che farci
  <div class="text-block">
    <img src="../../../../assets/entering-office.jpg" />
    <p class="left">entering office</p>
  </div>
  <div class="text-block">
    <p class="right">entering expo</p>
    <img src="../../../../assets/entering-expo.jpg" />
  </div> -->
</div>
