<h1 class="title-page-under-toolbar">Create organization</h1>
<h2 class="subtitle-page-under-toolbar">Fill out this form to create a new organization</h2>
<form [formGroup]="formGroup" editOrganizationForm="ngForm" (ngSubmit)="submitOrganizationForm()">
  <mat-vertical-stepper #stepper formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Write your organization name and a brief description</ng-template>
      <mat-form-field>
        <mat-label>Organization name</mat-label>
        <input
          #orgNameCtrl
          maxlength="50"
          matInput
          placeholder="Organization Name Example"
          formControlName="orgNameCtrl"
          required
        />
        <mat-hint class="hint-end" align="end">{{ orgNameCtrl.value.length }} / 50</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Organization description</mat-label>
        <textarea
          #orgDescriptionCtrl
          maxlength="150"
          matInput
          placeholder="Lorem ipsum dolor sit amet..."
          formControlName="orgDescriptionCtrl"
          required
        ></textarea>
        <mat-hint class="hint-end" align="end">{{ orgDescriptionCtrl.value.length }} / 150</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Add some places you want to monitor</ng-template>
      <app-map #map></app-map>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])" [optional]="true">
      <ng-template matStepLabel>Require additional authentication for your users</ng-template>
      <mat-slide-toggle (click)="showLdapConfiguration()">Use LDAP</mat-slide-toggle>
      <div class="ldapConfigurationContainer" [ngClass]="toggle ? 'visibleLdap' : ''">
        <mat-form-field>
          <mat-label>Url</mat-label>
          <input #orgUrlCtrl maxlength="50" matInput formControlName="orgUrlCtrl" placeholder="example.com" />
          <mat-hint class="hint-end" align="end">{{ orgUrlCtrl.value.length }} / 50</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Domain component</mat-label>
          <input #orgDnCtrl maxlength="50" matInput formControlName="orgDnCtrl" placeholder="dc=example,dc=intern" />
          <mat-hint class="hint-end" align="end">{{ orgDnCtrl.value.length }} / 50</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Common name</mat-label>
          <input #orgCnCtrl maxlength="50" matInput formControlName="orgCnCtrl" placeholder="admin" />
          <mat-hint class="hint-end" align="end">{{ orgCnCtrl.value.length }} / 50</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input #orgPwdCtrl maxlength="32" matInput formControlName="orgPwdCtrl" />
          <mat-hint class="hint-end" align="end">{{ orgPwdCtrl.value.length }} / 32</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step onclick="">
      <ng-template matStepLabel>Confirm</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button type="submit">Submit</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
