.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

mat-toolbar-row {
  margin: auto;
  width: 1200px;

  > a {
    font-weight: 300 !important;
  }

  > .logo {
    color: #fff;
    font-size: 28px;
    text-decoration: none;
  }
}

.stalker-logo {
  max-width: 26px;
}

.whiteBar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height: 150px;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: -1;
}
