<mat-toolbar>
  <mat-toolbar-row>
    <button
      mat-button
      class="logo"
      (click)="backHome()"
      [matTooltip]="this.getRoute() != '/home' ? 'Back to homepage' : ''"
    >
      <img class="stalker-logo" src="../assets/stalker-logo.png" alt="Stalker logo" />&nbsp;<span
        class="logoFirstLetter"
        >S</span
      ><span>talker</span>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngIf="this.getRoute() == '/home'">
        <button mat-menu-item>
          <mat-icon>build</mat-icon>
          <span>How it works</span>
        </button>
        <button mat-menu-item>
          <mat-icon>group</mat-icon>
          <span>Who we are</span>
        </button>
      </div>
      <!-- only when a user is authenticathed -->
      <div *ngIf="this.loginService.isLoggedIn()">
        <button
          mat-menu-item
          [disabled]="this.getRoute().includes('/users/')"
          [routerLink]="'/users/' + this.loginService.getUserId()"
        >
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button
          mat-menu-item
          matTooltip="Go to organizations list"
          routerLink="/organizations"
          [disabled]="this.getRoute() == '/organizations'"
        >
          <mat-icon>list</mat-icon>
          <span>Organizations</span>
        </button>
        <button mat-menu-item (click)="this.loginService.logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </mat-menu>
  </mat-toolbar-row>
  <div class="white-triangle" *ngIf="this.getRoute() != '/home'"></div>
</mat-toolbar>
<img
  class="background"
  *ngIf="this.getRoute() == '/home'"
  src="../assets/walking-crowd.png"
  alt="Stalker background image"
/>
<div class="whiteBar" *ngIf="this.getRoute().includes('/users/')"></div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p>
    Copyright &copy; 2020 - Stalker is provided by
    <span
      matTooltip="Fabio Scettro, Alessandro Rizzo, Riccardo Agatea, Luca Ercole, Riccardo Cestaro, Alberto Cocco, Alberto Gobbo, Tobia Apolloni"
      >GruppOne</span
    >
  </p>
</div>
