<mat-form-field [formGroup]="emailForm">
  <mat-label>Email</mat-label>
  <input maxlength="100" type="email" matInput formControlName="email" placeholder="address@example.com" />
  <mat-icon matSuffix>email</mat-icon>
  <mat-error *ngIf="emailForm.controls['email'].hasError('email') && !emailForm.controls['email'].hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="emailForm.controls['email'].hasError('required')">
    This field is <strong>required</strong>
  </mat-error>
</mat-form-field>
