<!--user.id, user.userData?.firstName, user.email, user.userData?.lastName, user.userData?.birthDate -->
<div *ngIf="user && fetched">
  <div class="profileImage">
    <!-- if profile pic exists
      <img src="{{ user.id }}.png" class="profilePic"/>-->
    <img src="../../../../assets/default-profile-pic.jpg" class="profilePic" alt="profile pic" />
  </div>
  <div class="infoContainer">
    <h1>{{ user?.data?.firstName }} {{ user?.data?.lastName }}</h1>
    <h2><mat-icon>event</mat-icon> {{ user?.data?.birthDate }}</h2>
    <h3><mat-icon>email</mat-icon> {{ user?.data?.email }}</h3>
    <h4><mat-icon>schedule</mat-icon> Joined: {{ user?.data?.creationDateTime }}</h4>
  </div>
  <div class="dashboard">
    <h1>Organization's role</h1>
    <div class="buttonContainer">
      <button color="accent" mat-raised-button matTooltip="See all Stalker users list" routerLink="/users">
        <mat-icon>list</mat-icon> Users list
      </button>
      <button
        color="accent"
        mat-raised-button
        matTooltip="See the list of your organizations"
        routerLink="/organizations"
      >
        <mat-icon>list</mat-icon> Organizations list
      </button>
      <button color="accent" mat-raised-button matTooltip="Create new organization" routerLink="/organization/create">
        <mat-icon>add</mat-icon> Create
      </button>
    </div>
    <div class="dashboardContent">
      <mat-card>
        <mat-card-title><mat-icon>event_seat</mat-icon> Owner</mat-card-title>
        <mat-card-subtitle>Total of organizations that you own</mat-card-subtitle>
        <mat-card-content>{{ totAdmin[0] }}</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title><mat-icon>build</mat-icon> Manager</mat-card-title>
        <mat-card-subtitle>Total of organizations that you manage</mat-card-subtitle>
        <mat-card-content>{{ totAdmin[1] }}</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title><mat-icon>visibility</mat-icon> Viewer</mat-card-title>
        <mat-card-subtitle>Total of organizations you have view rights to</mat-card-subtitle>
        <mat-card-content>{{ totAdmin[2] }}</mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="userSettings">
    <h1>User settings</h1>
    <form
      [formGroup]="changePasswordGroup"
      editOrganizationForm="ngForm"
      (ngSubmit)="changePassword(oldPwdInput.value, pwdInput.value)"
    >
      <mat-card class="dangerZone">
        <mat-card-content>
          <mat-card-title>Change your password</mat-card-title>
          <mat-form-field appearance="outline">
            <mat-label>Old password</mat-label>
            <input
              maxlength="32"
              matInput
              #oldPwdInput
              [type]="oldhide ? 'password' : 'text'"
              formControlName="oldPwdCtrl"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="oldhide = !oldhide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="oldhide"
            >
              <mat-icon class="pwd-icon">{{ oldhide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input maxlength="32" matInput #pwdInput [type]="hide ? 'password' : 'text'" formControlName="pwdCtrl" />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon class="pwd-icon">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="accent" type="submit">Confirm</button>
          </mat-card-actions>
        </mat-card-content>
        <mat-divider></mat-divider>
        <div class="deleteMessage">
          <mat-card-content>
            <mat-card-title>Delete your account</mat-card-title>
            <mat-card-subtitle
              >Once you delete your account, there is no going back.<br />Please be certain.</mat-card-subtitle
            >
          </mat-card-content>
        </div>
        <mat-card-actions class="deleteButton">
          <button class="buttonDelete" mat-raised-button (click)="deleteUser(user?.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
<div *ngIf="fetched == false" class="loadFail">
  <mat-icon>warning</mat-icon>
  <h1>Failed to load your profile data, try again!</h1>
</div>
