.profileImage {
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 210px;
  margin-top: -255px;
  padding: 7px;
  position: relative;
  width: 210px;

  .profilePic {
    border-radius: 100%;
    max-width: 100%;
  }
}

.infoContainer {
  float: right;
  margin-top: -85px;
  width: 70%;

  h1 {
    font-size: 32px;
    font-weight: 500;
  }

  h2 {
    width: 30%;
  }

  h4 {
    width: 100%;
  }

  h2,
  h3,
  h2 > .mat-icon,
  h3 > .mat-icon {
    font-size: 20px;
  }

  h4 {
    color: rgb(86, 86, 86);
    font-size: 18px;
  }

  h4 > .mat-icon {
    font-size: 20px;
  }

  h3 {
    min-width: 60%;
  }

  h2,
  h3,
  h4,
  .mat-icon {
    display: inline-block;
    vertical-align: middle;
  }
}

.dashboard {
  margin-top: 75px;

  h1,
  .buttonContainer {
    display: inline-block;
  }

  h1 {
    font-size: 32px;
    font-weight: 500;
    width: 50%;
  }

  .buttonContainer {
    text-align: right;
    width: 50%;
  }

  .mat-raised-button.mat-accent {
    margin-right: 8px;
    width: auto;
  }

  .mat-raised-button.mat-accent:last-of-type {
    margin-right: 0;
  }
}

.dashboardContent {
  display: flex;

  .mat-card {
    flex-grow: 1;
    margin-left: 8px;
    width: auto;
  }

  .mat-card:first-of-type {
    margin-left: 0;
  }

  .mat-icon,
  .mat-card-title {
    display: inline-block;
    vertical-align: middle;
  }

  .mat-icon {
    margin-bottom: 3px;
  }

  .mat-card-content {
    font-size: 26px;
    text-align: right;
  }
}

.userSettings {
  margin: 50px auto;
  width: 50%;

  h1 {
    font-weight: 500;
  }
}

.dangerZone {
  border: 1px solid #d73a49;
  margin-top: -10px;
  padding-bottom: 16px;
  padding-top: 0;

  .mat-card-content {
    margin-bottom: 0;
    padding: 16px 0;
  }

  .mat-card-content:first-of-type {
    padding-bottom: 0;
  }

  .mat-card-title {
    font-size: 18px;
  }

  .mat-card-subtitle {
    font-size: 14px;
  }

  .mat-input-element {
    caret-color: #454545;
  }

  .mat-icon-button {
    display: inline;
  }

  .mat-form-field,
  .mat-card-actions {
    display: inline-block;
  }

  .mat-card-actions {
    text-align: center;
  }

  .mat-form-field {
    margin-right: 11px;
    width: 39%;
  }

  .mat-form-field:last-of-type {
    margin-right: 25px;
  }

  .deleteMessage {
    margin-right: 25px;
    width: 80%;
  }

  .deleteMessage,
  .deleteButton {
    display: inline-block;
    vertical-align: middle;
  }

  .buttonDelete {
    border: 1px solid #cb2431;
    margin-left: 3px;
  }

  .buttonDelete:hover {
    background-color: #cb2431;
    color: #fff;
    cursor: pointer;
  }
}
