<div *ngIf="fetched">
  <h1 class="mat-display-3">Hi, {{ user.UserData.FirstName }}</h1>
  <p class="mat-body">e-mail: {{ user.Mail }}</p>
  <p class="mat-body">password: <button mat-raised-button color="primary">Reset Password</button></p>
  <mat-divider></mat-divider>
  <p class="mat-body">firs name: {{ user.UserData.FirstName }}</p>
  <p class="mat-body">last name: {{ user.UserData.LastName }}</p>
  <p class="mat-body">birth date: {{ user.UserData.BirthDate }}</p>
</div>
<div *ngIf="!fetched">
  Failed to load your profile data, try again!
</div>
