// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$stalker-web-app-primary: mat-palette($mat-indigo);
$stalker-web-app-accent: mat-palette($mat-blue-grey, 800);

// The warn palette is optional (defaults to red).
$stalker-web-app-warn: mat-palette($mat-red, 600);

// Create the theme object (a Sass map containing all of the palettes).
$stalker-web-app-theme: mat-light-theme($stalker-web-app-primary, $stalker-web-app-accent, $stalker-web-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($stalker-web-app-theme);

/* You can add global styles to this file, and also import other style files */
$content-padding-side: 70px;

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: #dfdfdf;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.mat-error.mat-error {
  padding-bottom: 5px !important;
}

.mat-form-field {
  margin: 5px auto;
  width: 100%;
}

.mat-raised-button.mat-accent {
  font-weight: unset;
  width: 97%;
}

.mat-raised-button.mat-accent:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.4), 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.mat-raised-button.mat-accent:disabled:hover {
  box-shadow: unset;
  cursor: not-allowed;
}

.mat-toolbar {
  background-color: rgba($color: #000, $alpha: 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 200px;
  position: relative;

  // oblique triangle in transparency in the toolbar
  .white-triangle {
    border-bottom: 280px solid rgba($color: #000, $alpha: 0.2);
    border-left: 1600px solid transparent;
    bottom: 0;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
  }
  // end triangle
}

.homeToolbar {
  background-color: rgba($color: #000, $alpha: 0.3);
  box-shadow: none;
  margin-bottom: 10%;
  padding-bottom: 0;
  position: unset !important;
}

.mat-toolbar-row {
  color: #fff;
  font-size: 18px;
  margin: auto;
  padding: 0 !important;
  width: 75% !important;

  > a {
    border-right: 1px solid #fff;
    cursor: pointer;
    font-weight: 300 !important;
    padding: 0 30px;
  }

  > a:last-child {
    border-right: 0;
    padding-right: 0;
  }

  > .logo {
    border: 0;
    font-size: 26px;
    font-weight: 400 !important;
    letter-spacing: 5px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logoFirstLetter {
    font-size: 34px;
    vertical-align: top !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

// container of all pages
.container {
  margin: auto;
  min-height: 100%;
  width: 75% !important;

  > * {
    z-index: 2;
  }
}
// end container

.mat-stepper-vertical {
  margin: auto;
  position: relative;
}

// titles to be used within page with forms
.title-page-under-toolbar,
.subtitle-page-under-toolbar {
  color: #fff !important;
  font-weight: 300 !important;
  margin: auto !important;
  position: relative;
  width: 65%;
}

.title-page-under-toolbar {
  font-size: 26px !important;
  font-weight: 500 !important;
  margin: -170px auto 10px !important;
}

.subtitle-page-under-toolbar {
  font-size: 18px !important;
}

/*
 *  div used to display error messages due to loading errors. Use in in this way
 *
 *  <div *ngIf="!fetched" class="loadFail">
 *    <mat-icon>warning</mat-icon>
 *    <h1>Failed to load your profile data, try again!</h1>
 *  </div>
 */
.loadFail {
  color: #fff;
  margin: -100px auto 0;
  position: relative;
  text-align: center;
  width: 600px;

  .mat-icon {
    transform: scale(8);
  }

  h1 {
    color: #000;
    font-size: 32px;
    margin-top: 150px;
  }
}

@media only screen and (max-width: 896px) {
  .container,
  .mat-toolbar-row {
    width: 95% !important;
  }

  .title-page-under-toolbar,
  .subtitle-page-under-toolbar {
    width: 100%;
  }
}
