<mat-card class="organizationTable">
  <mat-card-title>{{ organization?.name }}</mat-card-title>
  <mat-card-subtitle>{{ organization?.description }}</mat-card-subtitle>
  <mat-list>
    <mat-divider></mat-divider>
    <div style="margin: 5px 0; text-align: left;"><app-map></app-map></div>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">LDAP Configuration:</mat-list-item>
    <mat-list-item class="fieldData">
      {{ organization?.ldapConfiguration?.host }} - {{ organization?.ldapConfiguration?.username }},
      {{ organization?.ldapConfiguration?.password }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Owner:</mat-list-item>
    <mat-list-item class="fieldData">Riccardo Cestaro</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Manager:</mat-list-item>
    <mat-list-item class="fieldData">Alessandro Rizzo</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Viewer:</mat-list-item>
    <mat-list-item class="fieldData">Fabio Scettro</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Creation date:</mat-list-item>
    <mat-list-item class="fieldData">{{ organization?.createdDate }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="fieldName">Last modified date:</mat-list-item>
    <mat-list-item class="fieldData">{{ organization?.lastModifiedDate }}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-card-actions>
    <button mat-raised-button color="accent" routerLink="/editorganization">Edit</button>
  </mat-card-actions>
</mat-card>
