mat-card.organizationTable {
  width: 600px;
  margin: 50px auto;
  text-align: center;
  box-sizing: border-box;
}
mat-card-title {
  padding: 10px 0;
}

mat-list-item.fieldName,
mat-list-item.fieldData {
  display: inline-block;
}
mat-list-item.fieldName {
  width: 35%;
  font-weight: 500;
  justify-content: flex-end;
}
mat-list-item.fieldData {
  width: 65%;
  font-weight: 300;
}
::ng-deep .mat-list .mat-list-item.fieldName .mat-list-item-content {
  justify-content: flex-end;
}
mat-list-item ul {
  padding: 0;
  /* padding: 0 0 30px 0; */

  li {
    list-style: none;
  }
}
