<mat-form-field [formGroup]="pwdForm">
  <mat-label>Password</mat-label>
  <input matInput id="input" [type]="hide ? 'password' : 'text'" formControlName="pwd" />
  <button
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="pwdForm.controls['pwd'].hasError('required')">
    La password è <strong>obbligatoria</strong>
  </mat-error>
</mat-form-field>
