<mat-form-field class="example-full-width">
  <mat-label>Email</mat-label>
  <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. mariorossi@gmail.com" />
  <mat-icon matSuffix>email</mat-icon>
  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
    Inserisci un indirizzo email valido
  </mat-error>
  <mat-error *ngIf="emailFormControl.hasError('required')"> L'email è <strong>obbligatoria</strong> </mat-error>
</mat-form-field>
